//COLORS
$lightGreen: #7ed56f;
$mediumGreen:#55cf7a;
$darkGreen : #28b485;

$lightYellow : #ffb900;
$darkYellow : #ff7730;

$lightBlue : #2998ff;
$darkBlue : #5643fa;


$colorGaryLight1: #f7f7f7;
$colorGaryLight2:#eee;

$colorGrayDark : #777;
$colorGrayDark2 : #999;
$colorGrayDark3 : #333;

$colorWhite:#fff;
$colorBlack:#000;


//GRID
$gridWidth:114rem;
$gutterVertical:8rem;
$gutterHorizontal:6rem;

//font
$defaultFontSize : 1.6rem;