.footer{
    background-color: $colorGrayDark3;
    padding: 10rem 0 ;
    font-size: 1.4rem;
    @include respond(tab-port){
        padding: 7rem 0;
    }
    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
        @include respond(tab-port){
            margin-bottom: 5rem;
        }
        
    }

    &__navigation{
        border-top: 1px solid $colorGaryLight1;
        padding-top: 2rem;
        display: inline-block;
        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            color: $colorGaryLight1;
            text-transform: uppercase;
            transition: all .2s;
            display: inline-block;
            @include respond(phone){
                margin-bottom: 10px;
                
            }
        }
        &:hover,
        &:active{
            color:$mediumGreen;
            box-shadow: 0 1.5rem 3rem rgba($colorBlack,.3);
            transform: rotate(4deg) scale(1.3);
        }

    }
    &__copyright{
        color: $colorGaryLight1;
        border-top: 1px solid $colorGaryLight1;
        padding-top: 2rem;
        width: 80%;
        float: right;
        @include respond(tab-port){
            width: 100%;
            float: none;
            
        }
    }
}