.popup{
    position: fixed;
    background: rgba($colorBlack,.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
        @include centerPositioning;
        width: 80%;
        background: $colorGaryLight2;
        box-shadow: 0  2rem 4rem rgba($colorBlack,.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transform: translate(-50%,-50%) scale(.2);
        opacity: 0;
        transition: all .3s .2s;
    }

    &__left{
        width: 35.333333333%;
        display: table-cell;
        @include respond(tab-port){
            width: 80%;
            margin: 2rem auto 1rem;
            display: block;
            overflow: hidden;
        }
    }
    &__right{
        width: 66.666666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 4rem;
        @include respond(tab-port){
            width: 90%;
            margin: 1rem auto;
            display: block;
            padding: .5rem 2rem;
        }
    }
    &__img{
        width: 100%;
        display: block;
        @include respond(tab-port){
            width: 45%;
            height: 15rem;
            display: inline-block;
            float: left;
            padding-right: 1rem
        }
    }
    &__text{
        font-size: 1.5rem;
        line-height: 1.5;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid rgba($colorGrayDark2,.3);
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        @include respond(phone){
            column-count: 1;
        }
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }

    &__close{
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 2.5rem;
        color: $colorGrayDark;
        line-height: 1;

        &:hover{
            color: $mediumGreen;
        }
    }

}